.ant-layout-content{
  min-height: calc(100vh - 8rem);
}

.ant-empty{
  margin-top: 0;
  margin-bottom: 0;
}

.center-empty {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.ant-list-item{
  a{
    text-decoration: none;
  }

  &:hover{
    box-shadow: 0px 5px 5px 5px lightgrey;
  }
}