@import "variables";

.loginContainer {
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background:
        linear-gradient(
            to right,
            rgba($AtlantaBlack, .8),
            rgba($AtlantaBlack, .8)
        ),
        url("https://ekiosk.com/fileadmin/user_upload/content/Modelle/phex-stand/stele-foyer-digital-signage.jpg") center top;
    background-size: cover;

    form{
        display: inline-block;
        position: absolute;
        width: 300px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        h1{
            border-bottom: .3rem solid $AtlantaYellow;
            color: $AtlantaBeige;
            display: inline-block;
            font-size: 40px;
            margin-bottom: 2rem;
            padding: 1rem 0;
        }

        .textbox{
            width: 100%;
            overflow: hidden;
            font-size: 1rem;
            padding: 8px 0;
            margin: 8px 0;
            border-bottom: $AtlantaYellow solid 1px;

            i{
                text-align: center;
                float: left;
                width: 10%;
                color: $AtlantaBeige;
                padding-top: 5px;
            }

            input{
                width: 80%;
                border: none;
                outline: none;
                background: none;
                color: $AtlantaBeige;
                padding-left: 10px;

                :focus{
                    background: none;
                }
            }
        }
        .button{
            width: 100%;
            color: $AtlantaBeige;
            background: none;
            border: $AtlantaYellow solid 2px;
            border-radius: 2rem;
            margin: 10px 0;

            &:hover{
                background: $AtlantaYellow;
                color: $AtlantaBlack;
                a{
                    color: $AtlantaBlack;
                }
                transition: all 0.5s ease-in-out;
            }

            a{
                color: $AtlantaBeige;
                text-decoration: none;
            }


        }
    }
}